@import '~bootstrap/scss/bootstrap-grid';
@import '~bootstrap/scss/bootstrap';
.form-group {
    padding: 20px;
}
  table {
    margin-top:20px;
    line-height: 1.5em;
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
    width: 100%;
    max-width: 100%;
    overflow: auto;
    word-break: normal;
    word-break: keep-all;
  }

table tr th {
    position: relative;
    padding: 0.875rem 1.25rem;
    border: 1px solid #edf1f7;
    vertical-align: middle;
}

table tr td, table tr th {
    position: relative;
    padding: 0.875rem 1.25rem;
    border: 1px solid #edf1f7;
    vertical-align: middle;
}
.actionGrp div {
text-align: center;
} 



hr { display: block; 
    height: 1px;
    border: 0; 
    border-top: 1px solid #edf1f7;
    margin: 1em 0; 
    padding: 0; 
}
.modaleBth {
    text-align: center;
}

.addGrp {
    button{
        border-radius: 0px 0.25rem 0.25rem 0px;
        margin-top: -2px;
    }
    nb-select{
        border-radius:  0.25rem 0px 0px 0.25rem;
        
    }
}
.breakSentance {
    white-space: pre-wrap;
    display: inline-block;
    max-width: 500px;
    overflow-wrap: break-word;
}

.badgeSubDiv{
   
}
.badgeSubDivPort{
    width:260px;
  
}
.roundBadge {
    background-color: var(--badge-success-background-color);
    padding:3px;
    border-radius: 5px;
}
.badgeSub {
    position: relative;
    border-radius: 10px;
    margin: 2px;
    font-size: 13px;
    font-weight: 500;
}
.badgeSubPort {
    position: relative;
    border-radius: 10px;
    margin: 2px;
    font-size: 13px;
    font-weight: 500;
    width:50px;
    display: inline-grid;
}
.p5{
    //padding:5px
}
.subdomainTable {
    text-align: center;
}
.searchButton {
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.searchButton button {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.backIcon {
    font-size:30px;
}
.page{
    text-align: end;
    padding:10px
}


.pagination{
    margin-top: 20px;
}
#modalImgSRC{
    height: calc( 100vh - 150px );
}
.screenpreview {
    width:200px
}
.close{
    text-align:end
}
div.badge {
    display: flex;
    border-radius: .75em;
    font-family: 'Dejavu Sans','Arial';
 
  }
  div.badge div {
    display: inline-block;
    float: left;
    text-transform: lowercase;
    color: #FFF;
    text-shadow: 0px .1em 0px rgba(0, 0, 0, 0.5);
    margin: 0;
    padding: 0;
    border: 0;
  }
  div.badge div:first-child, div.badge div:first-child span {
    border-top-left-radius: .25em;
    border-bottom-left-radius: .25em;
  }
  div.badge div:last-child, div.badge div:last-child span {
    border-top-right-radius: .25em;
    border-bottom-right-radius: .25em;
  }
  div.badge div span {
    display: inline-block;
    font-weight: 400;
    padding: .25em .5em;
    box-sizing: border-box;
  }
  .badge .name {
    background: #555555;
    //height: 35px;
    //padding: 6px 5px;
    font-size: 13px;
    text-shadow: none;
  }
  .badge .status.green {
    background: #44cc11;
  }
  .badge .status.yellow {
    background: #ddcc00;
  }
  .badge .status.blue {
    background: #00aadd;
  }
  .badge .status.red {
    background: #cc1100;
  }
  .badge .status.gray {
    background: #cccccc;
  }
  .badge .ImageTech {
      background: var( --bs-gray-300);
  }
  .ImageTech span img {
      height: 16px;
      width: 16px;
  }
    .badge .version {
      background: var( --bs-gray-300);
      color:black;
      text-shadow: none;
      font-size: 13px;
  }